.layout {
    width: 1200px;
    height: 100%;
    display: grid;
    grid: 'console-area terminal-area' 1fr / 600px auto;
    gap: 0;
}

.console-area {
    grid-area: console-area;
}

.terminal-area {
    grid-area: terminal-area;
}

.terminal-area textarea {
    min-width: 600px;
    width: 100vw;
    height: 100vh;
    border: none;
    resize: none;
    background-color: black;
    color: white;
    font-family: 'courier new', Futura, Helvetica, '游ゴシック', 'メイリオ', Osaka;
    font-size: 10pt;
    line-height: 1.2em;
}
